@font-face {
  font-family: 'DisplayOTF';
  src: url('../../assets/font/DisplayOTF.otf') format('opentype');
}
.blur {
  filter: blur(6px);
}

.blur-none {
  filter: blur(0);
}
.image-contain {
  object-fit: contain; 
  height: 100%;
  width: 100%;
}
