@font-face {
  font-family: 'DisplayOTF';
  src: url('../../assets/font/DisplayOTF.otf') format('opentype');
}
.blur {
  filter: blur(6px);
}

.blur-none {
  filter: blur(0);
}
.image-contain {
  object-fit: contain; 
  height: 100%;
  width: 100%;
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
